body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 20px);
  padding: 10px;
}

#root {
  background-color: #30828180;
}

#secondary-app {
  background-color: #90afce7a;
}

button {
  background-color: transparent;
  border: 1px solid #4e75dfe8;
  border-radius: 3px;
  padding: 5px 10px;
}

button:not(:disabled) {
  cursor: pointer;
}

button:hover:not(:disabled) {
  background-color: #4e75dfe8;
  color: white;
}