body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 20px);
  padding: 10px;
}

#root {
  background-color: #30828180;
}

#secondary-app {
  background-color: #90afce7a;
}